* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
  font-size: 1.1rem;
  font-weight: bold;
}

span {
  display: block;
}

.slider {
  width: 400px;
  height: 400px;
  overflow: hidden;
  box-shadow: 3px 3px 7px rgba(102, 153, 204, 0.6);
  border-radius: 1%;
}

.slider {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.slides {
  display: flex;
  width: 400%;
}

.bottom-wrapper {
  display: flex;
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
}

.bar {
  height: 8px;
  width: 30px;
  margin: 8px;
  cursor: pointer;
  background-color: rgb(102, 153, 204);
  opacity: 0.4;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.navigation {
  display: flex;
  align-items: flex-end;
}

.bar:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.bar:checked {
  opacity: 1;
}

.slider__text-items {
  display: flex;
  flex-direction: column;
  height: 300%;
  margin-right: 2rem;
  overflow: hidden;
}

.slider__text {
  height: 40%;
  flex-shrink: 0;
  transition: 0.5s;
}

input[name='control'] {
  display: none;
}

#switch-one:checked ~ .push {
  margin-left: 0%;
}

#switch-two:checked ~ .push {
  margin-left: 25%;
}

#switch-three:checked ~ .push {
  margin-left: 50%;
}

#switch-four:checked ~ .push {
  margin-left: 75%;
}
